/* Tamplate */
*{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

/* Style body */
body{
    margin: 0px;
    padding: 0px;
}

/* style wrapper */
.wrapper {
    width: 1100px;
    margin: auto; /* Membuat index wapper di tengah*/
    position: relative;
}

.home{
    height: 100vh;
    width: 1    00%;
    background-image: url(Elements/bg.jpg);
    background-size: cover;
    background-position: center;
}

/* Logo */
.logo a{
    font-size: 50px;
    font-weight: bold;
    float: left; /* Membuat logo disebelah kiri*/
    color: white;
    padding: 0px 0px 0px -10px; 
}

.menu{
    float: right; /* Membuat menu disebelah kanan*/
    font-weight: lighter;
}

nav{
    width: 100%;
    margin: auto;
    display: flex; /* Supaya bisa ada kolom pada menu*/
    line-height: 80px; /*Posisi dari atas bawah bisa rata (ditengah)*/
    position: sticky; /*menu akan berada diatas ketika discroll*/
    position: -webkit-sticky;
    top: 10px; /*Akan menempe diatas*/
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left; /*Menuju bagian kiri*/
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px; /*atas kanan kiri bawah */
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

.title{
    font-size: 54px;
    font-weight: bold;
    padding: 0px 0px 16px 0px; /*atas kanan kiri bawah */
    color: white;
}

.container-1 input#search{
    width: 300px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background .55s ease;
-moz-transition: background .55s ease;
-ms-transition: background .55s ease;
-o-transition: background .55s ease;
transition: background .55s ease;
  }

  .container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
 }
  
 .container-1 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
 }
  
 .container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
 }
  
 .container-1 input#search:-ms-input-placeholder {  
    color: #65737e;  
 }

 .container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
  }

  .container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
  }

  .box{
    padding: 200px 0px 0px 200px;
  }
